.app__table{
  padding-left: 11px;
}

.table{
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

/* .table__header{
  border: 1px solid black !important;
  border-collapse: collapse !important;
} */

th{
  border: 1px solid black !important;
  border-collapse: collapse !important;
}

.table__body{
  border: 1px solid black;
  border-collapse: collapse;
} 
.table__data{
  border: 1px solid black;
  border-collapse: collapse;
  
}

.input__fields{
  display: flex;
  gap: 8px;
  position: relative;
  top: 13px;
}


.table__header{
  width: max-content;
  height: 30px;

}

.open__state{
  position: fixed;
  width: 429px;
  height: 273px;
  border-radius: 28px;
  background-color: #e2e2e2;
  top: 209px;
  left: 35%;
}

.open__desc{
  text-align: center;
  position: relative;
  top: 35px;
  font-size: 17px;
  font-weight: 700;
}
.open__form{
  display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 33px;
}

.open__update{
margin-top: 12px;
}

.close__tab{
  z-index: 1000;
  position: relative;
  left: 401px;
  bottom: 47px;
  cursor: pointer;
}