.app__table{
  padding-left: 11px;
  z-index: 900 !important;
  overflow-x: hidden !important;
  padding-left: 17px;
  padding-bottom: 36px;
}

.btn--import__csv{
  margin-left: 12px !important;
}

.table__csv{
  padding-left:25px !important;
  margin-top: 22px !important;
}

.input__fields{
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  top: 16px;
}


.table__header{
  width: max-content;
  height: 30px;

}



.open__state{
  position: fixed;
  width: 429px;
  height: 273px;
  border-radius: 28px;
  background-color: #ffffff;
  top: 209px;
  left: 35%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.open__desc{
  text-align: center;
  position: relative;
  top: 35px;
  font-size: 17px;
  font-weight: 700;
}

.open__form{
  display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 33px;
}

.open__input{
  padding-top: 8px;
}

.btn--open__update{
  position: relative;
  top: 24px !important;
}

.close__tab{
  z-index: 1000;
  position: relative;
  left: 401px;
  bottom: 47px;
  cursor: pointer;
}

.css-1ex1afd-MuiTableCell-root {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left !important;
  padding: 7px !important;
  color: rgba(0, 0, 0, 0.87);
}
.css-q34dxg {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgb(224, 224, 224);
  text-align: left;
  padding: 0px !important;
  color: rgba(0, 0, 0, 0.87);
}

.table__header{
  font-size: 14px !important;
  font-weight: 800 !important;
}

.MuiTableRow-root{
  width: 100% !important;
}
.css-1ygcj2i-MuiTableCell-root{
  font-weight: 800 !important;
  font-size: 0.875rem !important;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left !important;
  padding: 0px !important;
  color: rgba(0, 0, 0, 0.87);
}



.close__opendialogue{
  color: red !important;
  font-size: 17px !important;
  font-weight: 600 !important;
  position: relative !important;
  top: 29px;
}



.css-1051awe-MuiStack-root{
  height: 126px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around !important;
  align-items: center !important;
  position: relative;
  left: -34px;
}